.ant-layout-sider {
  background-color: #fff !important
}

.ant-layout-sider-trigger {
  color: #002140 !important;
  background-color: #fff !important
}

.style-limenu {
  display: flex !important;
  align-items: center !important;
}

.logo {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center
}

.logo .nav-link {
  display: flex
}

.text-logo {
  padding-top: 4px
}

.anticon {
  font-size: 25px;
  margin-right: 5px
}

